.footer {
	padding: rem(70px) 0;

	li {
		list-style: none;
		margin-bottom: rem(8);
		white-space: nowrap;
	}

	ul {
		@include media-breakpoint-up(sm){
			columns: 2;
		}
		margin-bottom: rem(40);
	}

	a {
		text-decoration: none !important;
	}

	&__transition {
		text-transform: uppercase;
		margin-bottom: rem(20);
		@extend .h6;
		font-size: $em-base;
	}

	&__map {
		a {
			color: $red;
			border-bottom: 1px solid transparent;
			&:hover {
				border-color: $red;
			}
		}
	}

	&__logo {
		margin-bottom: rem(60);
		display: block;
		@include media-breakpoint-up(sm) {
			text-align: center;
		}
	}

	&__copyright {
		@include media-breakpoint-up(md){
			text-align: center;
		}
		font-size: $small;
		color: #b5b5b5;
		padding-bottom: rem(40);
	}

	&__btn {
		display: block;
		margin-bottom: rem(30);
	}

	&__contacts {
		color: #737373;
		a {
			color: inherit;
		}

		@include media-breakpoint-up(md) {
			text-align: right;

		}
		p {
			@include media-breakpoint-up(md) {
				text-align: right;
			}
			margin-bottom: 0;
		}
	}

	&__details {
		color: $body-color !important;
		position: relative;
		display: inline-block;

		&::before {
			content: '';
			@include mt;
			position: absolute;
			// display: block;
			transition-timing-function: ease-out;
			transition-property: width;
			left: 0;
			bottom: 0;
			width: 0;
			height: 1px;
			background-color: $body-color;

		}

		&:hover::before {
			width: 100%;
		}
	}
	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

.voting {
	position: fixed;
	right: 0;
	top: rem(280);
	border: solid 1px rgb(231, 231, 231);
	z-index: 11;
}