.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basic-case {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-basic-message-txt {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-basic-todo {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-calendar {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-facebook-f {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-marker {
	font-size:(141.732/10)*1rem;
	width:(141.732/141.732)*1em;
}
.icon-megaphone {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-odnoklassniki {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-vk {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
