mixin sAside()
	// start sAside
	+b.sAside#sAside&attributes(attributes)
		+e.leadre.bg-danger
			h4 Николай Платошкин собирает команду на выборы в&nbsp;Госдуму&nbsp;2021
			+e.frameWrapp
				<iframe src="https://www.youtube.com/embed/mSQaH5TziNo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			+e.A.video(href="#") Все видео
		+e.action
			+e.A.item(href="#") 
				+e.imgWrap
					+icon('basic-todo')
				.h4 Политическая программа
			+e.A.item(href="#") 
				+e.imgWrap
					+icon('calendar')
					//- img(src="img/svg/calendar-blue.svg", alt="alt")
					//- img(src="img/svg/calendar.svg", alt="alt")
				.h4 Календарь мероприятий
			+e.A.item(href="#") 
				+e.imgWrap
					+icon('megaphone')
				.h4 Новости и события
			+e.item.donate
				h4 Присоединиться к движению «За новый социализм»!
				+e.A.btn.btn.btn-style-4(href="#") Заполнить анкету
		a(href="#")
			img.res-i(src="img/@2x/aside-baner.jpg", alt="#")
	// end sAside

mixin sAsideMenu()
	// start sAside
	+b.sAsideMenu#sAside&attributes(attributes)
		h4 Меню раздела
		ul
			li.active
				a(href="#") Лидер движения
			li
				a(href="#") Краткая политическая программа
			li
				a(href="#") О российской экономике
			li
				a(href="#") Об идеологии в России
			li
				a(href="#") Отчет
			li
				a(href="#") Агитматериалы
			li
				a(href="#") Региональные отделения

mixin sAsideMenuVideo()
	// start sAside
	+b.sAsideMenu#sAside&attributes(attributes)
		h4 Меню раздела
		ul
			li.active
				a(href="#") Анонс
			li
				a(href="#") Важное
			li
				a(href="#") Встреча в Хабаровске
			li
				a(href="#") Встреча в Воронеже
			li
				a(href="#") Встреча в Екатеринбурге
			li
				a(href="#") Встреча в Казани
			li
				a(href="#") Встреча в Комсомольске-на-Амуре
			li
				a(href="#") Встреча в Костроме
			li
				a(href="#") Встреча в Крыму
			li
				a(href="#") Встреча в Миассе
			li
				a(href="#") Встреча в Смоленске
			li
				a(href="#") Встреча в Сталинграде / Волгограде
			li
				a(href="#") Встреча в Тамбове
			li
				a(href="#") Встреча в Челябинске
			li
				a(href="#") Встреча с жителями Калинина / Твери
			li
				a(href="#") Встреча с жителями Краснодара
			li
				a(href="#") Встреча с жителями Нижнего Тагила
			li
				a(href="#") Встреча с жителями Новороссийска
			li
				a(href="#") Встреча с Самаре
			li
				a(href="#") Выражаем поддержку
			li
				a(href="#") ГлавТема Народ
			li
				a(href="#") Годовщина Движения
			li
				a(href="#") Известные люди
			li
				a(href="#") Информационное агентство «АВРОРА»
			li
				a(href="#") Исторические заметки
			li
				a(href="#") Итоги недели на радио "Комсомольская Правда"
			li
				a(href="#") Канал "Pravda"
			li
				a(href="#") Канал "Независимая Студия"
			li
				a(href="#") Канал Красная Линия
			li
				a(href="#") КРАСНАЯ ТРУБА!
			li
				a(href="#") Митинги
			li
				a(href="#") Молодёжное движение
			li
				a(href="#") Одиночный пикет
			li
				a(href="#") Парк "Тайган"
			li
				a(href="#") ПОЛИТИНФОРМ
			li
				a(href="#") Почему я присоединился к движению
			li
				a(href="#") Прямая трансляция. Стрим
			li
				a(href="#") Региональные отделения движения
			li
				a(href="#") Съезд Движения 07.11.2019
			li
				a(href="#") Федеральное ТВ
			li
				a(href="#") Цитаты
			li
				a(href="#") Школа Политпросвета


