mixin sSocial()
	// start sSocial
	+b.sSocial#sSocial&attributes(attributes)
		.container
			ul
				li
					+e.A.fb(href='#')
						+icon('facebook-f')
						| Facebook
				li
					+e.A.vk(href='#')
						+icon('vk')
						| Вконтакте
				li
					+e.A.inst(href='#')
						+icon('instagram')
						| Instagram
				li
					+e.A.youtube(href='#')
						+icon('youtube')
						| Youtube
				li
					+e.A.ok(href='#')
						+icon('odnoklassniki')
						| Одноклассники



	// end sSocial