mixin sSocial()
	// start sSocial
	+b.sSocial#sSocial&attributes(attributes)
		.container
			ul
				li
					+e.A.fb(href='#')
						+icon('facebook-f')
						span Facebook
				li
					+e.A.vk(href='#')
						+icon('vk')
						span Вконтакте
				li
					+e.A.inst(href='#')
						+icon('instagram')
						span Instagram
				li
					+e.A.youtube(href='#')
						+icon('youtube')
						span Youtube
				li
					+e.A.ok(href='#')
						+icon('odnoklassniki')
						span Одноклассники



	// end sSocial