mixin sNumberParticipants()
	// start sNumberParticipants
	+b.sNumberParticipants#sNumberParticipants&attributes(attributes)
		.container
			+e.content
				+e.title По&nbsp;состоянию на&nbsp;7-е марта, общее количество зарегистрированных сторонников движения составила
				.row
					.col-lg-4.col-md-6.col-xs-6
						+e.timer(data-to="61480" data-speed="1500" class="counter-number") 61480
						.h5 человек
					.col-lg-8.col-md-6.col-xs-6
						+e.A.btn.btn.btn-style-3(href="#")
							+icon('basic-message-txt')
							| Ознакомиться подробнее
	// end sNumberParticipants