mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-auto
					+e.leader
						span Лидер движения &laquo;За&nbsp;новый социализм&raquo;
						h1 Платошкин <br>Николай Николаевич
				.col-auto.align-self-center.d-none.d-sm-block
					+e.social
						ul
							li: a(href="#")
								+icon('youtube')
							li: a(href="#")
								+icon('facebook-f')
							li: a(href="#")
								+icon('vk')
							li: a(href="#")
								+icon('instagram')
							li: a(href="#")
								+icon('odnoklassniki')
	// end headerBlock