extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sAction/_sAction.pug 
include ../blocks/sNumberParticipants/_sNumberParticipants.pug 
include ../blocks/sSocial/_sSocial.pug 
include ../blocks/sAside/_sAside.pug 
include ../blocks/sEvents/_sEvents.pug 
include ../blocks/sCalendar/_sCalendar.pug 

block variables
	- let  mainPage= 'mainPage'
block title
	- let  title= 'БИОГРАФИЯ. НИКОЛАЙ НИКОЛАЕВИЧ ПЛАТОШКИН.'
	title= title
block pagecontent 
	+header()
		+top-nav()
	+pageHead('Главная страница','О ДВИЖЕНИИ «ЗА НОВЫЙ СОЦИАЛИЗМ»', title)
		+pic('flag-2.jpg', 'bg', 'lazy')(class="picture-bg")
		h1 Лидер движения «За новый социализм» Платошкин Николай Николаевич
	.containerLimited
		.container.contentWrap
			.row
				.col-md-8
					+mainBlock()
						p Николай Николаевич Платошкин
						img.res-i(src="img/@2x/laeder.jpg" alt="#")
						p &mdash;&nbsp;российский дипломат и&nbsp;историк. Доктор исторических наук, доцент, заведующий кафедрой международных отношений и&nbsp;дипломатии Московского гуманитарного университета. Автор книг.
						h2 Биография 
						p Николай Платошкин родился 19&nbsp;октября 1965 года в&nbsp;городе Мещерино Ступинского района Московской области, русский. Родители работали в&nbsp;совхозе: мать (окончила академию имени Тимирязева)&nbsp;&mdash; агрономом, отец (окончил Институт механизации сельского хозяйства имени Горячкина)&nbsp;&mdash; инженером.
						img.res-i(src="img/@2x/grandpa.jpg" alt="#")
						i Фото. Победители (дедушка Клюков Николай Дмитриевич, сидящий в&nbsp;середине)
						p Окончил Чулковскую среднюю школу &#8470;&nbsp;20&nbsp;с золотой медалью, там&nbsp;же получил права тракториста-машиниста 3-го класса широкого профиля.
						p В&nbsp;1982 году поступил в&nbsp;МГИМО МИД СССР на&nbsp;факультет международных отношений (Западное отделение), который с&nbsp;отличием окончил в&nbsp;1987&nbsp;году.
						img.res-i(src="img/@2x/laeder-young.jpg", alt="#")
						i Фото (МГИМО, на картошке)
						img.res-i(src="img/@2x/laeder-young2.jpg" alt="#")
						i Фото (МГИМО, на картошке)
						p В&nbsp;2003 году окончил спецкурс для руководящего состава при Дипломатической академии МИД&nbsp;РФ.
						p С&nbsp;1987 по&nbsp;2006 год работал в&nbsp;российских дипломатических представительствах в&nbsp;ФРГ и&nbsp;США.
						p Офицер запаса. Срочную военную службу не&nbsp;проходил.
						img.res-i(src="img/@2x/laeder-young3.jpg" alt="#")
						i Фото. (На боевом посту)
						h2 Работа в дипломатических представительствах 
						p С&nbsp;1987 по&nbsp;1992 годы работал в&nbsp;должности атташе в&nbsp;посольствах СССР и&nbsp;Российской Федерации в&nbsp;ФРГ.
						p С&nbsp;1992 по&nbsp;1995 годы&nbsp;&mdash; в&nbsp;четвёртом Европейском департаменте МИД&nbsp;РФ.
						p С&nbsp;1995&nbsp;в должности первого секретаря вновь был направлен в&nbsp;дипломатическое представительство&nbsp;РФ в&nbsp;Германии, в&nbsp;Берлин, где и&nbsp;проработал до&nbsp;1998&nbsp;года. Платошкину Н.Н., по&nbsp;его&nbsp;же признанию, удалось добиться возвращения звания почётного гражданина города Берлина первому Советскому коменданту Берлина Николаю Берзарину, так как после воссоединения Германии в&nbsp;1990 году все советские граждане были лишены такого звания. Также, Платошкин Н.Н. помог в&nbsp;сохранении монумента Воин-освободитель в&nbsp;Трептов парке, так как монумент собирались снести.
						p В&nbsp;1998 году возглавил отдел Армении МИД&nbsp;РФ.
						p С&nbsp;мая 2004 по&nbsp;2006 годы в&nbsp;должности вице-консула работал в&nbsp;консульстве Российской Федерации в&nbsp;Хьюстоне. Стоял у&nbsp;истоков открытия Русского культурного центра в&nbsp;столице Техаса.
						h2 Научная и преподавательская деятельность
						p Основные сферы научной деятельности: история Германии, история стран Латинской Америки, история Испании, история Чехии, вопросы текущих международных отношений и&nbsp;внешней политики России, современная политика ФРГ.
						p В&nbsp;2003 году защитил кандидатскую диссертацию на&nbsp;тему &laquo;Мемельский (Клайпедский) вопрос в&nbsp;международных отношениях&raquo;, а&nbsp;в&nbsp;2009 году&nbsp;&mdash; докторскую на&nbsp;тему &laquo;Причины и&nbsp;ход Берлинского кризиса 1953&ndash;1961&nbsp;гг&raquo;.
						p Владеет немецким, чешским, английским и&nbsp;испанским языками. В&nbsp;своих работах опирается на&nbsp;ранее неизученные источники, зачастую на&nbsp;иностранных языках, в&nbsp;том числе данные из&nbsp;архивов, документы, опубликованные малым тиражом и&nbsp;т.&nbsp;д. В&nbsp;частности, в&nbsp;работе &laquo;Весна и&nbsp;осень чехословацкого социализма&raquo; автор, опираясь на&nbsp;малоизвестные отечественному исследователю документы на&nbsp;чешском языке, проанализировал ход реформ в&nbsp;Чехословакии 1960-х годов и&nbsp;их&nbsp;влияние на&nbsp;взаимоотношения ЧССР и&nbsp;СССР, сделал вывод о&nbsp;том, что экономические реформы Дубчека, зайдя в&nbsp;тупик и&nbsp;доведя Чехословакию до&nbsp;грани дефолта, стали причиной сознательного ухудшения отношений правительства Дубчека с&nbsp;Советским Союзом. Вопреки общепринятому в&nbsp;современной историографии мнению, Платошкин доказывает в&nbsp;своей работе, что реформы &laquo;пражской весны&raquo; привели страну к&nbsp;экономическому кризису, аналогичному тому, что СССР испытал в&nbsp;годы &laquo;перестройки&raquo;. В&nbsp;то&nbsp;же время автор доказывает, что Советский Союз не&nbsp;был настроен против этих реформ и&nbsp;не&nbsp;оказывал на&nbsp;них никакого воздействия, рассматривая их&nbsp;как внутреннее дело ЧССР, а&nbsp;военное вмешательство Советского Союза было связано исключительно с&nbsp;началом антисоветской риторики чехословацкого правительства и&nbsp;угрозой переориентации на&nbsp;западный блок.
						p В&nbsp;2009 году по&nbsp;итогам творческого конкурса на&nbsp;лучшие материалы, опубликованные в&nbsp;&laquo;Военно-историческом журнале&raquo; (№&nbsp;12, 2008), редакцией журнала Платошкину была присуждена вторая поощрительная премия за&nbsp;статью &laquo;Берлинская &bdquo;блокада&ldquo; 1948&ndash;1949&nbsp;гг. Мифы и&nbsp;реальность&raquo;, помещённой в&nbsp;рубрике &laquo;Из&nbsp;истории военно-политических отношений&raquo;.
						p В&nbsp;настоящее время Платошкин является заведующим кафедрой международных отношений и&nbsp;дипломатии Московского гуманитарного университета.&nbsp;25&nbsp;мая 2018 года был завершён двухгодичный курс лекций &laquo;Германия в&nbsp;военное и&nbsp;послевоенное время&raquo; в&nbsp;рамках вечерних курсов Университета Дмитрия Пожарского.
						h2 Общественная и&nbsp;политическая деятельность
						p С&nbsp;1988 года кандидат в&nbsp;члены КПСС. В&nbsp;1989 году отказался от&nbsp;вступления, мотивируя этот шаг несогласием с&nbsp;политикой Генерального Секретаря ЦК&nbsp;КПСС Михаила Горбачёва.
						p В&nbsp;начале января 2019 года на&nbsp;своей странице в&nbsp;социальной сети Facebook Николай Платошкин разместил видео, где объявил о&nbsp;намерении создать общественно-политическое движение &laquo;За&nbsp;новый социализм&raquo; и&nbsp;изложил основные пункты программы этого движения.
						p В&nbsp;вопросе событий &laquo;Бархатной революции&raquo; в&nbsp;Армении поддержал народные протесты и&nbsp;приход к&nbsp;власти Н.&nbsp;Пашиняна.
						p Выступал с&nbsp;критикой социально-экономической политики В.&nbsp;В.&nbsp;Путина и&nbsp;правительства&nbsp;РФ, в&nbsp;частности выступил с&nbsp;критикой бюджетного правила, введённого министерством финансов, и&nbsp;плавающего курса рубля.
						p Участвовал в&nbsp;организованных КПРФ протестах против пенсионной реформы в&nbsp;Москве, призывал сторонников участвовать в&nbsp;митингах.
						p На&nbsp;выборах глав субъектов Федерации 9&nbsp;сентября 2018 года призывал голосовать против &laquo;Единой России&raquo;. Осенью 2018 года на&nbsp;выборах главы республики Хакасия, поддержал кандидата от&nbsp;КПРФ В. Коновалова, а&nbsp;на&nbsp;губернаторских выборах в&nbsp;Приморье&nbsp;&mdash; А. Ищенко.
						p 9&nbsp;декабря 2018 года выступил против возможной передачи Курильских островов Японии, раскритиковав риторику официальных лиц России.&nbsp;20&nbsp;января 2019 года выступил на&nbsp;митинге &laquo;Курилы&nbsp;&mdash; наши&raquo;.
						h2 Эксперт на ТВ и радио
						p Николай Платошкин выступает в&nbsp;качестве эксперта в&nbsp;различных теле- и&nbsp;радиопередачах: &laquo;60&nbsp;минут&raquo; на&nbsp;телеканале ВГТРК, &laquo;Время покажет&raquo; на&nbsp;Первом канале, &laquo;Место встречи&raquo; на&nbsp;телеканале НТВ, &laquo;Право голоса&raquo; на&nbsp;телеканале ТВ&nbsp;Центр, &laquo;Говорит Москва&raquo; и&nbsp;другие.
						p В&nbsp;январе 2019 года в&nbsp;кулуарах сессии ПАСЕ Платошкин защитил ведущую программы &laquo;60&nbsp;минут&raquo; на&nbsp;телеканале &laquo;Россия-1&raquo; Ольгу Скабееву от&nbsp;действий украинского депутата Борислава Ефимовича Берёзы (Бляхера).
						h4 Семейное положение
						p Женат.
						h2 Библиография
						p Автор множества монографий, учебных пособий и&nbsp;статей, в&nbsp;том числе и&nbsp;в&nbsp;таких рецензируемых ВАК журналах как &laquo;Международная жизнь&raquo;, &laquo;Военно-исторический журнал&raquo;, &laquo;Журнал зарубежного законодательства и&nbsp;сравнительного правоведения&raquo;.
						h2 Диссертации
						<ul> 
							<li><em>Платошкин Н. Н.</em> Мемельский (Клайпедский) вопрос в международных отношениях: диссертация … кандидата исторических наук: 07.00.15. — <abbr title="Москва">М.</abbr>, 2003. — 159 с.</li>
						
							<li><em>Платошкин Н. Н.</em> Причины и ход Берлинского кризиса 1953—1961 гг.: диссертация … доктора исторических наук: 07.00.03. — МГПУ им. И. П. Шамякина. — <abbr title="Москва">М.</abbr>, 2009. — 406 с.</li>
						</ul>
						h2 Монографии
						<ul> 
							<li><em>Платошкин Н. Н.</em> Жаркое лето 1953 года в Германии: впервые о восстании рабочих в ГДР. — <abbr title="Москва">М.</abbr>: Олма-Пресс, 2004. </li>
						
							<li><em>Платошкин Н. Н.</em> Гражданская война в Испании. 1936—1939 гг. — Олма-Пресс, 2005. </li>
						
							<li><em>Платошкин Н. Н.</em> Убийство президента Кеннеди. Ли Харви Освальд — убийца или жертва?: [русская версия преступления]. — <abbr title="Москва">М.</abbr>: Молодая гвардия, 2007. </li>
						
							<li><em>Платошкин Н. Н.</em> История Мексиканской революции: в 3 томах. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского, 2011. — Т. 1: Истоки и победа 1810—1917 гг. </li>
						
							<li><em>Платошкин Н. Н.</em> История Мексиканской революции: в 3 томах. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского, 2011. — Т. 2: Выбор пути 1917—1928 гг. </li>
						
							<li><em>Платошкин Н. Н.</em> История Мексиканской революции: в 3 томах. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского, 2011. — Т. 3: Время радикальных реформ 1928—1940 гг. </li>
						
							<li><em>Платошкин Н. Н.</em> Чили 1970—1973 гг.: Прерванная модернизация. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского: РФСОН, 2011. </li>
						
							<li><em>Платошкин Н. Н.</em> Интервенция США в Доминиканской республике 1965 года. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского: РФСОН, 2012. </li>
						
							<li><em>Платошкин Н. Н.</em> Сандинистская революция в Никарагуа: предыстория и последствия. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского: РФСОН, 2015. (Холодная война. История Латинской Америки).</li>
						
							<li><em>Платошкин Н. Н.</em> Гренадская революция и интервенция США (1979—1983 гг.). — <abbr title="Москва">М.</abbr>: Изд-во МосГУ, 2015.</li>
						
							<li><em>Платошкин Н. Н.</em> Венесуэла и Чавес: биография страны и человека. — <abbr title="Москва">М.</abbr>: Изд-во МосГУ, Кафедра истории и международных отношений, 2015. </li>
						
							<li><em>Платошкин Н. Н.</em> Весна и осень чехословацкого социализма. Чехословакия в 1938—1968 гг.: в 2 частях. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского: РФСОН, 2016. — Т. 1: Весна чехословацкого социализма, 1938—1948 гг.(Холодная война).</li>
						
							<li><em>Платошкин Н. Н.</em> Весна и осень чехословацкого социализма. Чехословакия в 1938—1968 гг.: в 2 частях. — <abbr title="Москва">М.</abbr>: Ун-т Дмитрия Пожарского: РФСОН, 2016. — Т. 2: Осень чехословацкого социализма, 1948—1968 гг.(Холодная война).</li>
						
							<li><em>Платошкин Н. Н.</em> Че Гевара. — <abbr title="Москва">М.</abbr>: Молодая гвардия, 2017. (ЖЗЛ; Вып. 1818 [1618]).</li>
						
							<li><em>Платошкин Н. Н.</em> Американская разведка против Гитлера. — <abbr title="Москва">М.</abbr>: Вече, 2017. (Гриф секретности снят).</li>
						
							<li><em>Платошкин Н. Н.</em> Американская разведка против Сталина. — <abbr title="Москва">М.</abbr>: Вече, 2017. (Гриф секретности снят). </li>
						
							<li><em>Платошкин Н. Н.</em> Роберт Кеннеди. — <abbr title="Москва">М.</abbr>: Тов-во науч. изд. КМК, 2017. </li>
						
							<li><em>Платошкин Н. Н.</em> Танго со смертью: в 2 томах. — <abbr title="Москва">М.</abbr>: Тов-во науч. изд. КМК, 2018.</li>
						
							<li><em>Платошкин Н. Н.</em> Танго со смертью: в 2 томах. — <abbr title="Москва">М.</abbr>: Тов-во науч. изд. КМК, 2018. </li>
						</ul>
						h2 Переводы
						<ul> 
							<li><em>Люттвак Эдвард Николае</em>. Возвышение Китая наперекор логике стратегии. — М.: Университет Дмитрия Пожарского, 2016.</li>
						
							<li><em>Люттвак Эдвард Николае</em>. Стратегия. Логика войны и мира. — М.: Университет Дмитрия Пожарского, 2016.</li>
						
							<li><em>Люттвак, Эдвард Н.</em> Государственный переворот: Практическое пособие = Coup d’État: A Practical Handbook. — <abbr title="Москва">М.</abbr>: Университет Дмитрия Пожарского, 2012.</li>
						</ul>
						h2 Редактор
						<ul> 
							<li>Украинский национализм как угроза национальной безопасности России: Материалы межвузовского круглого стола (Москва, 25 февраля 2015 г.) / науч. ред. Н. Н. Платошкин. — <abbr title="Москва">М.</abbr>: Изд-во МосГУ, 2015. </li>
						
							<li>Борьба против фальсификации истории Второй мировой войны: 70-летию Великой Победы посвящается: Материалы межвузовского круглого стола (Москва, 23 апреля 2015 г.) / науч. ред. Н. Н. Платошкин. — <abbr title="Москва">М.</abbr>: Изд-во МосГУ, 2015. </li>
						
							<li>Концепция смены режима как инструмент внешней политики США: Материалы международного межвузовского круглого стола (Москва, 6 апреля 2016 г.) / отв. ред. Н. Н. Платошкин. — <abbr title="Москва">М.</abbr>: Изд-во МосГУ, 2016.</li>
						</ul>

				.col-md-4
					+sAsideMenu()
					+sAside()






	
	+sCalendar()
	+footer()