extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sAction/_sAction.pug 
include ../blocks/sNumberParticipants/_sNumberParticipants.pug 
include ../blocks/sSocial/_sSocial.pug 
include ../blocks/sAside/_sAside.pug 
include ../blocks/sEvents/_sEvents.pug 
include ../blocks/sCalendar/_sCalendar.pug 

block variables
	- let  mainPage= 'mainPage'
block title
	- let  title= 'Краткая политическая программа'
	title= title
block pagecontent 
	+header()
		+top-nav()
	+pageHead('Главная страница', 'О ДВИЖЕНИИ «ЗА НОВЫЙ СОЦИАЛИЗМ»', title)
		+pic('flag-2.jpg', 'bg', 'lazy')(class="picture-bg")
		h1= title
	.containerLimited
		.container.contentWrap
			.row
				.col-md-8
					+mainBlock()
						+e.frameWrap
							<iframe src="https://www.youtube.com/embed/6wlktw3qnCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						h6.text-center(style="font-family: TimesNewRomanPSMT; font-weight:700;") Программа
						h6.text-center(style="font-family: TimesNewRomanPSMT; font-weight:700;") Движения за новый социализм
						h3.text-center(style="font-weight:normal; text-transform: uppercase;") (программа-минимум)
						p #[strong 1] Реальная национализация природных ресурсов, железнодорожного транспорта и энергоснабжения. Большая часть прибыли госкомпаний в этих сферах должна идти на общесоциальные блага (образование, наука, здравоохранение, дорожная сеть, социальные выплаты).
						+e.frameWrap
							<iframe src="https://www.youtube.com/embed/_pbqUNrM4cM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						p #[strong 2] Перевод части доходов от экспорта нефти и газа на личный счет каждому россиянину, платившему взносы в пенсионный фонд как минимум 15 лет.
						p #[strong 3] Отмена антинародной пенсионной реформы. Пенсионный возраст 55 лет для женщин и 60 лет для мужчин. Минимальный трудовой стаж для получения пенсии по старости для женщин и мужчин -35 лет. Дневное высшее образование включается в пенсионный стаж.
						p #[strong 4] Бесплатное высшее и среднее образование без любых поборов с родителей. Отмена ЕГЭ. Зачисление в ВУЗы на основе конкурсного отбора. Государственное распределение отличников учебы.
						p #[strong 5] Прогрессивная система подоходного налогообложения – от 10 до 20%. Введение налога на роскошь. Введение налога на вывоз капитала 2%. Введение налога на недвижимость граждан России в странах НАТО. Снижение налога на единственное жилье (переход с кадастровой стоимости на налогообложение по жилой площади) и введение налога на вторую, третью и т.д. жилую недвижимость. Снижение НДС до 10%. Отмена НДС на производство средств производства и молочное животноводство. Перераспределение налоговых поступлений из центра в пользу регионов.
						p #[strong 6] Замораживание тарифов естественных монополий и тарифов ЖКХ на 2 года в целях борьбы с инфляцией. Снижение налога на прибыль для предприятий, не повышающих отпускные цены в течение года.
						p #[strong 7] Постепенная реальная компенсация гражданам вкладов в Сбербанке СССР, замороженных в 1991 году.
						p #[strong 8] Запрет работы в офшорах для любых компаний с государственным участием, а также для всех частных компаний, на которых занято не менее 500 человек.
						p #[strong 9] Введение в УК РФ конфискации имущества в качестве наказания за расхищение государственных средств.
						p #[strong 10] Запрет на занятие должностей на государственной службе лицам (и их прямым родственникам), имеющим недвижимость, акции и банковские счета за рубежом.
						p #[strong 11] Возможность отзыва любого выборного лица (включая президента), проработавшего не менее половины срока полномочий путем референдума.
						p #[strong 12] Срок полномочий президента и депутатов Федерального собрания – 4 года (допускается лишь однократное повторное переизбрание) с возможностью отзыва по истечении 2 лет. Заработная плата президента – не более 10-кратной средней зарплаты по стране, членов Федерального собрания – не более 4-кратной.
						p #[strong 13] Прямые выборы населением судей районных и областных судов. Кандидат в судьи не имеет права работать в органах Следственного комитета, полиции и прокуратуры в течение 5 лет перед избранием судьей. Отчет судей перед избирателями каждый месяц с прямой трансляцией в интернет.
						p #[strong 14] Облегчение процедуры проведения референдумов и организации митингов и демонстраций.
						p #[strong 15] Квалификация коррупции как особого тяжкого преступления в УК РФ. 
						p #[strong 16] Переименование полиции в милицию.
						+e.frameWrap
							<iframe src="https://www.youtube.com/embed/A5DAkXXG7iM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						p #[strong 17] Прямые выборы членов Совета Федерации. Кандидат должен постоянно проживать на территории региона не менее 5 лет перед выборами. Прямые выборы глав регионов. Отмена т.н. «муниципального фильтра».
						p #[strong 18] В целях обеспечения честности выборов в состав избирательных комиссий не могут входить лица, находящиеся на государственной или муниципальной службе. Прямая трансляция подсчета голосов в интернет с демонстрацией итогового протокола.
						p #[strong 19] Восстановление союзного государства на базе республик бывшего СССР на основе свободного волеизъявления их граждан.
						p #[strong 20] Изменение государственной символики России:
						p - красный флаг с серпом, молотом и пятиконечной звездой в левом верхнем углу (Знамя Победы).
						p - двуглавый орел без монархических символов (короны, державы и скипетра).
						p - гимн СССР.
						p #[strong Автор Н.Н.Платошкин 29.01.2019 г.]
				.col-md-4
					+sAsideMenu()
					+sAside()






	
	+sCalendar()
	+footer()