extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sAction/_sAction.pug 
include ../blocks/sNumberParticipants/_sNumberParticipants.pug 
include ../blocks/sSocial/_sSocial.pug 
include ../blocks/sEvents/_sEvents.pug 
include ../blocks/sCalendar/_sCalendar.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Движение «За новый социализм» Платошкина Николая Николаевича в Москве'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-nav()
	+sAction()
	+sNumberParticipants()
	+sContent()
		.row
			.col-md-6.pb-5
				+e.frameWrapp
					<iframe src="https://www.youtube.com/embed/v78lcq-4Gsg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			.col-md-6.pb-4.pt-3
				h2 Новосибирская ячейка &laquo;За&nbsp;Новый Социализм!&raquo; поделилась опытом участия в&nbsp;движении
				p Участники новосибирского отделения нашего движения записали необычный ролик, в&nbsp;котором рассказали о&nbsp;самых важных моментах становления региональной ячейки.
				p &laquo;Мне задают вопросы&nbsp;&mdash; почему в&nbsp;Новосибирске так активно развивается движение За&nbsp;Новый социализм? Ответ прост&nbsp;&mdash; люди это делают от&nbsp;души, с&nbsp;полной отдачей, с&nbsp;полным пониманием того, что только от&nbsp;нас зависит, что произойдет в&nbsp;городе и&nbsp;области&raquo;,&nbsp;&mdash; делится своим пониманием ситуации Князев Михаил Николаевич, координатор движения &laquo;За&nbsp;Новый Социализм&raquo; по&nbsp;Новосибирской области.
		p &laquo;История началась давно, конечно, в&nbsp;июне прошлого года, когда в&nbsp;Первомайском сквере собрались четыре человека с&nbsp;одним единственным столом, с&nbsp;листовкой, сделанной &bdquo;с&nbsp;колен&ldquo; и&nbsp;стали знакомить с&nbsp;программой Николая Николаевича Платошкина. Людей было много, интерес был большой&nbsp;&mdash; раздавали листовки, отвечали на&nbsp;вопросы, была даже заведена специальная тетрадь&raquo;,&nbsp;&mdash; вспоминает активист.
		p По&nbsp;словам Михаила, люди были совершенно незнакомы с&nbsp;идеями Платошкина и пришлось долго объяснять&nbsp;&mdash; кто такой Платошкин, чем он&nbsp;занимался и&nbsp;откуда появилась эта фамилия.
		p Молодые люди, пришедшие в&nbsp;движение рассказали свою историю знакомства: по&nbsp;их словам, они долго увлекались левыми идеями и&nbsp;искали настоящего лидера, которому можно было доверить свою энергию и&nbsp;силу и&nbsp;когда в&nbsp;перед ними возник Николай Платошкин, все сомнения и&nbsp;недоверие сразу&nbsp;же испарились.
		p Далее соратники Николая Платошкина поделились проблемами, возникавшими на&nbsp;их нелегком пути, трудностями&nbsp;и, конечно&nbsp;же, победами в&nbsp;деле продвижения идей будущей страны социального равенства и&nbsp;порядка.

	+sContent()(class="sContent--other")
		.row
			.col-md-6.pb-5
				+e.frameWrapp
					<iframe src="https://www.youtube.com/embed/mSQaH5TziNo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				h5 НИКОЛАЙ НИКОЛАЕВИЧ ПЛАТОШКИН
				p Российский политик, общественный деятель, дипломат, политолог и&nbsp;историк. Доктор исторических наук, заведующий кафедрой международных отношений и&nbsp;дипломатии Московского гуманитарного университета. Автор книг.
				a.btn.btn-style-3(href="#")
					+icon('basic-message-txt')
					| Биография
			.col-md-6.pb-4.pt-3
				h2 Лидер движения &laquo;За&nbsp;новый социализм&raquo; Николай Николаевич Платошкин собирает команду на&nbsp;выборы в&nbsp;ГосДуму 2021 года
				+e.accent
					p Кандидат должен полностью разделять основную идею &laquo;Движения за&nbsp;новый социализм&raquo;&nbsp;&mdash; это построение в&nbsp;России современного социалистического справедливого общества.
					p Кандидат должен подчиняться внутренней дисциплине движения.
					p Кандидат должен полностью соответствовать требованиям законодательства&nbsp;РФ предъявляемым к&nbsp;депутатам ГД&nbsp;РФ&nbsp;и&nbsp;госслужащим. Строго без судимостей. А&nbsp;так&nbsp;же не&nbsp;занимавший в&nbsp;прошлом руководящих постов в&nbsp;ЛДПР и&nbsp;Единой России.
					p Это должен быть активный состоявшийся человек, обладающий необходимым опытом и&nbsp;способным принести пользу общему делу. То&nbsp;есть проявить готовность и&nbsp;ответственность стать известным общественным и&nbsp;политическим деятелем.
					p И&nbsp;этот человек должен иметь возможность самостоятельно оплатить свои поездки на&nbsp;отборочный этап и&nbsp;проживание.
				p Если вы&nbsp;разделяете 5&nbsp;принципов движения &laquo;За&nbsp;новый социализм&raquo;, то&nbsp;присылайте на&nbsp;почту свою анкету и&nbsp;пройдите публичный отбор в&nbsp;прямом эфире. 5&nbsp;принципов движения &laquo;За&nbsp;новый социализм&raquo;.
				a.btn.btn-style-3(href="#") 
					+icon('basic-message-txt')
					| Отправить анкету

	+sActionSecond()
	+sSocial()(class="bg-secondary")
	+sEvents()
	+sEventsLg()
	+sCalendar()
	+footer()