mixin sContent()
	// start sContent
	+b.sContent#sContent&attributes(attributes)
		.container
			block
			
mixin sContent-2()
	// start sContent
	+b.sContent--other#sContent&attributes(attributes)
		.container
			block

	// end sContent