.mainBlock {
	padding-bottom: rem(40);
	img {
		margin-bottom: rem(20);
		display: block;
	}

	a {
		display: inline-block;
		color: $body-color;
		text-decoration: none;
	}

	strong {
		font-weight: bold;
	}

	p {
		margin-bottom: rem(20);
		text-align: justify;
	}

	h3,
	h4,
	h5,
	h6,
	.h3,
	.h4,
	.h5,
	.h6 {
		margin-bottom: rem(20);
		line-height: 1.33em;
	}

	ul {
		i {
			margin-bottom: rem(20);
			display: inline-block;
		}
	}

	li {
		list-style: none;
	}

	&__frameWrap {
		@include block(560, 315);
		margin-bottom: rem(20);

		iframe,
		img {
			width: 100%;
			height: 100%;
			@include a-cent;
		}
	}

	.text-center {
		display: block;
	}

	&__newsItem {
		padding-bottom: rem(40);
	}

	&__photo {
		display: flex;
		flex-wrap: wrap;
		border-bottom: solid 1px #dbdbdb;
		padding-bottom: rem(12);
	}

	&__img-wrap {
		padding: rem(6);
		max-width: 100%;
		border: solid 1px #dbdbdb;
		margin: 0 8px 8px 0;
		flex: 0 0 32.2%;
		max-width: calc(33.3% - 8px);
		&:nth-child(n+4) {
			display: none;
		}

		a {
			@include block(200, 200);
			overflow: hidden;
			img {
				// width: 100%;
				// height: auto;
				width: auto;
				height: 100%;
				@include a-cent;
			}
		}
	}

	&__title {
		padding-bottom: rem(12);
		font-size: rem(19);
		font-weight: bold;
		a {
			display: inline;
		}
	}

	&__date {
		font-size: rem(18);
		font-weight: normal;
		display: block;
		color: #7f7f7f;
		a {
			margin-left: rem(5);
			display: inline-block;
		}
	}

	&__photoItem {
		margin-bottom: rem(40);
		max-width: rem(720);

		&--inner {
			.mainBlock__title {
				font-size: $em-base;
			}

			.mainBlock__date {
				font-size: rem(11);
			}

			.mainBlock__photo {
				border-color: transparent;
			}

			.mainBlock__img-wrap {
				padding: 0;
				border-color: transparent;
			}
		}
	}

	&__event {
		margin-bottom: rem(50);
		img {
			margin-bottom: 0;
		}

		a {
			display: block;
		}
	}

	&__month {
		max-width: rem(90);
		margin-left: auto;
		margin-right: auto;
	}

	&__eventBody {
		display: flex;
	}

	&__calendar {
		min-width: rem(120);
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: rem(10) rem(5) rem(45);
		background-color: #990f0f;
		color: #fff;
		margin-right: rem(15);
		@include media-breakpoint-up(sm) {
			margin-right: rem(30);
		}

		img {
			max-width: rem(45);
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__day {
		font-weight: bold;
		font-size: rem(50);
	}

	&__meeting {
		padding-top: rem(10);
	}
}
